exportPattern("^[^\\.]")
export(vaxpack_input)
export(vaxpack_output)
#
import(ggplot2)
import(plotly)
import(tibble)
importFrom(ape, as.DNAbin, dist.gene, nj, plot.phylo, tiplabels)
importFrom(vegan, specaccum)
importFrom(grDevices, colors)
importFrom(graphics, legend, plot, title)

